html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Language images */
.icon-lang {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 3px 0 0;
}

.icon-ru {
    background: url(../images/languages.png) 0 -360px;
}

.icon-en {
    background: url(../images/languages.png) 0 -96px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.sort-numerical a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

.sort-numerical a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.sort-ordinal a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

.sort-ordinal a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Resulting table page */
form#export-file-form {
    margin-top: 1%;
}

/* Modal form style */
.modal-form-text {
    margin: 0;
    font-size: 16px
}
.form-check-label {
    margin-left: 1%;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.navbar-form {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Стили слоев для чекбоксов на форме загрузки онтологии */
.field-owlfileform-class_datatype_property, .field-owlfileform-individual_datatype_property {
    margin-bottom: 0;
}
.field-owlfileform-class_datatype_property > .help-block, .field-owlfileform-individual_datatype_property > .help-block {
    display: inline;
    margin-bottom: 0;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}